#colorBlock {
    background: #cccccc;
    border:5px solid black;
    height:300px;
    margin:20px auto;
    width:300px;
}

form, #buttons {
    margin:20px auto;
    text-align: center;
    width:300px;   
}